$text-dark:#222;
$text-light:#777;
$main:#fa5d43;
$gray:#ccc;


$dark-gradient:linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);


$btn-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
$card-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);